html,
#root,
body {
  width: 100%;
  height: 100%;
}

.chart-app {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.radar-chart {
  box-sizing: border-box;
  margin: 1.5rem;
  height: 100%;
  flex: 1;
}

/* .config-panel {
  width: 350px;
  display: flex;
  border-left: 1px solid #ccc;
  height: 100%;
} */
